.App {
  text-align: center;
  background-color: rgb(253, 251, 253);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("/Users/meganwotring/divide-tarot-app/public/images/tarotDivideHeader.jpg");
  background-position: center;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-wrapper{
  border-style: double;
  margin: 8px;
}

.grid-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 320px;
  height: 450px;
  margin: 4px;
}
.title {
  padding-bottom: 5px;
}