@font-face {
    font-family: Cinzel;
    src: url("fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
  } 

  @font-face {
    font-family: Playfair_Display;
    src: url("fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
  } 
 
 
 .modal {
    background: rgb(230, 224, 224);
    color: rgb(8, 8, 8);
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    height: 96%;
    font-family: Cinzel;
    padding-top: 20px;
  }

  .modal-div {
    display: flex;
    flex-direction: row;
    height: 96%;
  }

  .cardImage {
    height: 100%;
    width: auto;
    margin: 4px;
    padding: 5px;
    padding-left: 20px;
    margin-left: 15px;
    
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
  }

  .card-details-container {
    width: 35%;
    font-family: Playfair_Display;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
  }

  .modal-title {
    font-size: 40px;
    padding: 5px;
    padding-bottom: 20px;
  }

  .modal-created-date{
      font-size: 18px;
      font-family: Playfair_Display;
  }

  .modal-dimension{
    font-size: 18px;
    padding-bottom: 20px;
    font-family: Playfair_Display;
}

.modal-text{
    max-width: 500px;
    font-size: 18px;
    font-family: Playfair_Display;
}

@media screen and (max-width: 600px) {
  .modal-div {
    display: flex;
    flex-direction: column;
    height: 96%;
  }
  .cardImage {
    height: auto;
    width: 95%;
    margin: 10px;
    padding: 5px;
  }
  .card-details-container {
    width: 95%;
    font-family: Playfair_Display;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
  }
}
